/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 20px 7px;
}

/* Home */
#home{
    height: 150px;
    padding: 173px 23px;

}
#home::before{
    height: 478px;
    position: absolute;
    top: -10px;
    width: 100%;
}
#home h1{
    position: relative;
    top: 122px;
}
#home p{
    position: relative;
    font-size: 0.8rem;
    top: 118px;
 
}
#home button {
    position: relative;
    top: 100px;
}

/* services */
#service{
    
    flex-direction: column;

}
#service .box img {
    height: 191px;
    width: 191px;
    display: block;
    margin: auto;
}



/* clients section */
#clients{
     flex-wrap: wrap; 
     
     
     
}
#clients img{
    display: flex;
    flex-direction: row;
    width: 116px;
    height: auto;
    padding: 6px;

}
.client-item{
    
    padding: 2px 7px;
    padding-bottom: 63px;
}
#clients::before{
      
    height: 250px;
}
/* contact us */


/* footer */

/* utility class */
.h-primary{
    font-size: 2.4rem;
}
.btn{
    position: relative;
    font-size: 0.8rem;
    bottom: 11px;
    padding: 3px 1px;
    /* margin-bottom: 18px;*/